.rp_header {
    height: 30px;
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-variant: small-caps;
    text-align: center;
    background-color: #aaaaaa;
    border: solid 10px #eeeeee;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.rp_block {
    padding: 15px;
    background-color: #cccccc;
    border: solid 10px #eeeeee;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: inset 0px 8px 8px -8px #333333;
}

.rp_dialog {
    text-align: center;
    text-shadow: 0px 0px 1px #112211;
}
